extends ../layouts/default

mixin annonce(annonce)
	- var quartier
	case annonce.quartier
		when 'PAL'
			- quartier = 'Port au loup'
		when 'CENTRE'
			- quartier = 'Centre village'
		when 'NAZE'
			- quartier = 'La Naze'
		when 'BUTRY'
			- quartier = 'Butry S/Oise'
		when 'NESLES'
			- quartier = 'Nesles La Vallée'
		when 'PARMAIN'
			- quartier = 'Parmain'
		when 'SITE'
			- quartier = 'En ligne'
		when 'LOIN'
			- quartier = 'Plus loin'
		default
			- quartier = 'Inconnu'

	.card.mb-3(class= _.kebabCase(annonce.type))
		.card-body
			.container-fluid
				h3= annonce.titre
				.text-annonce= annonce.message
				.date-offre
					= annonce._.dateDepot.format('DD/MM')
				.ruban
					= quartier
			if annonce.type != 'Bon plan'
				button.btn.btn-block.btn-outline-dark(type="button", data-toggle="modal", data-target="#modalContact", data-annonce= annonce.id) Contacter l'annonceur
			else if annonce.fichier && annonce.fichier.size
				a.btn.btn-block.btn-outline-dark(href="/api/download/" + annonce._id, title =annonce.fichier.originalname) Télécharger (
					= Math.floor(annonce.fichier.size / 1024)
					|  ko)
			else
				p.mt-2.mb-2 &nbsp;

mixin dessin(dessin)
	.card.mb-3
		.card-body
			.container-fluid
				a(href="#", data-toggle="modal", data-target="#modalDessin", data-source=dessin._.dessin.src(), data-titre=dessin.titre)
					img.card-img-top(src=dessin._.dessin.src())
				h5= dessin.titre
				.text-dessin= dessin.message

block content
	.container
		.jumbotron
			h1 Entr'aide à Valmondois
			p Les Valmondoisiens peuvent ici proposer leur soutien à d’autres valmondoisiens.
			p Il s’agit de se dépanner mutuellement pour garder les enfants, faire du jardinage, ou organiser un service de courses..
			p Proposez vos services ou répondez aux annonces en cas de besoin ..
			p Dans tous les cas, faites très attention à bien respecter le confinement et les « gestes barrière » le virus ne doit pas gagner !
			strong les catégories de message :
				span
					.btn-group.ml-2
						a.btn.offre(href="#") Offres
						a.btn.demande(href="#") Demandes
						a.btn.bon-plan(href="#") Bons plans
			p.text-info.mt-2
				| A l'itiative de l'
				strong APEV
				| , une rubrique
				em &nbsp;
					strong dessins
				| &nbsp;a été ajoutée
				button.btn.btn-outline-info.btn-sm.ml-5(rel="popover") Plus d'informations
				
		ul.nav.nav-pills.nav-justified#pills-tab(role="tablist")
			li.nav-item
				a.nav-link.active#pill-annonce(data-toggle="pill", href="#pills-annonce", role="tab") Les annonces
					span.badge.badge-light= data.annonces.filter(a => !a.commercial).length
			li.nav-item
				a.nav-link#pill-annonce-com(data-toggle="pill", href="#pills-annonce-com", role="tab") Annonces commerciales
					span.badge.badge-light= data.annonces.filter(a => a.commercial).length
			li.nav-item
				a.nav-link#pill-dessin(data-toggle="pill", href="#pills-dessin", role="tab") Les dessins
					span.badge.badge-light= data.dessins.length
		.alert#result
		.tab-content#pills-tabContent
			.tab-pane.fade.show.active#pills-annonce(role="tabpanel")
				.card-columns
					each annonce in data.annonces
						if !annonce.commercial
							+annonce(annonce)
			.tab-pane.fade#pills-annonce-com(role="tabpanel")
				.jumbotron
					h2 Ici Nos commerçants vous proposent leur service
					p L’épicerie du parc
						em  Isabelle et Lourival Feirrera
						|  57 grande rue à Valmondois
					p Continuent sans relâche avec le plus grand dévouement à sélectionner préparer leurs produits habituels
					ul
						li Plat du jour - maison
						li Pain frais tous les jours
						li Paniers-dépannage
						li cave produits frais
					p Vous pouvez commander
						em  Tel 01 34 73 44 49
					p D’autres commerçants, habituellement présents sur nos marchés, peuvent déposer leurs offres de service ici
				.card-columns
					each annonce in data.annonces
						if annonce.commercial
							+annonce(annonce)
			.tab-pane.fade#pills-dessin(role="tabpanel")
				.card-columns
					each dessin in data.dessins
						+dessin(dessin)

	.modal.fade#modalDessin(tabindex="-1", role="dialog", aria-labelledby="titreModal", aria-hidden="true")
		.modal-dialog.modal-dialog-centered.modal-lg(role="document")
			.modal-content
				.modal-header
					h5.modal-title#titreModalDessin
					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body.text-center
					img#imageModalDessin

	
	.modal.fade#modalContact(tabindex="-1", role="dialog", aria-labelledby="titreModal", aria-hidden="true")
		.modal-dialog.modal-dialog-centered.modal-lg(role="document")
			.modal-content
				.modal-header
					h5.modal-title#titreModal Contacter quelqu'un au sujet de son annonce
					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				form#envoyer(name="envoyer", role="form")
					.modal-body
						p pour contacter l'annonceur, merci de dire qui vous êtes et vomment vous recontacter.
						p un message va lui être envoyé et il pourra ainsi vous répondre
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="prenom") Qui êtes vous ?
							.col-sm-4
								input.form-control#prenom(type="text", required=true, placeholder="votre prénom")
								.invalid-feedback Merci de vous identifier clairement
							.col-sm-5
								input.form-control#nom(type="text", required=true, placeholder="votre nom")
								.invalid-feedback Merci de vous identifier clairement
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="email") Votre email :
							.col-sm-9
								input.form-control#email(type="email", required=true, placeholder="votre email")
								.invalid-feedback Votre email est indispensable pour être recontacté
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="telephone") Votre téléphone :
							.col-sm-9
								input.form-control#telephone(type="telephone")
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="message") Un petit message :
							.col-sm-9
								textarea.form-control#message(rows="4", required=true)
								.invalid-feedback Un petit message pour vous présenter est la moindre des politesses non ?
					.modal-footer
						button(type="button", class="btn btn-secondary", data-dismiss="modal") Abandonner
						input#submit(type="submit", class="btn btn-primary")
	#texte-apev(style="display: none")
		include ../mixins/texte-apev

block js
	script.
		$('#modalDessin').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var titre = button.data('titre');
			var src = button.data('source');
			$("#titreModalDessin").text(titre);
			$("#imageModalDessin").attr("src", src);
		});
		$(document).ready(function () {
			$('body').popover({
				selector: '[rel=popover]',
				content: function() { return $("#texte-apev").html(); },
				placement: "bottom",
				html: true
			});
		});
	script(src="/js/index.js")
	script(src="/js/ellipsis.js")
