extends ../layouts/default

mixin annonce(annonce)
	- var quartier
	case annonce.quartier
		when 'PAL'
			- quartier = 'Port au loup'
		when 'CENTRE'
			- quartier = 'Centre village'
		when 'NAZE'
			- quartier = 'La Naze'
		when 'BUTRY'
			- quartier = 'Butry S/Oise'
		when 'NESLES'
			- quartier = 'Nesles La Vallée'
		when 'PARMAIN'
			- quartier = 'Parmain'
		when 'SITE'
			- quartier = 'En ligne'
		when 'LOIN'
			- quartier = 'Plus loin'
		default
			- quartier = 'Inconnu'

	.card.mb-3(class= _.kebabCase(annonce.type))
		.card-body
			.container-fluid
				h3= annonce.titre
				!= annonce.message
				.date-offre
					= annonce._.dateDepot.format('DD/MM')
				.ruban
					= quartier
			if annonce.type != 'Bon plan'
				button.btn.btn-block.btn-outline-dark(type="button", data-toggle="modal", data-target="#modalContact", data-annonce= annonce.id) Contacter l'annonceur
			else
				p.mt-2.mb-2 &nbsp;

block content
	.container
		.jumbotron
			h1 Entr'aide à Valmondois
			p Les Valmondoisiens peuvent ici proposer leur soutien à d’autres valmondoisiens.
			p Il s’agit de se dépanner mutuellement pour garder les enfants, faire du jardinage, ou organiser un service de courses..
			p Proposez vos services ou répondez aux annonces en cas de besoin ..
			p Dans tous les cas, faites très attention à bien respecter le confinement et les « gestes barrière » le virus ne doit pas gagner !
			strong les catégories de message :
				span
					.btn-group
						a.btn.offre(href="#") Offres
						a.btn.demande(href="#") Demandes
						a.btn.bon-plan(href="#") Bons plans
		.card-columns
			each annonce in data.annonces
				+annonce(annonce)

	.modal.fade#modalContact(tabindex="-1", role="dialog", aria-labelledby="titreModal", aria-hidden="true")
		.modal-dialog.modal-dialog-centered.modal-lg(role="document")
			.modal-content
				.modal-header
					h5.modal-title#titreModal Contacter quelqu'un au sujet de son annonce
					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				form#envoyer(name="envoyer", role="form")
					.modal-body
						p pour contacter l'annonceur, merci de dire qui vous êtes et vomment vous recontacter.
						p un message va lui être envoyé et il pourra ainsi vous répondre
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="prenom") Qui êtes vous ?
							.col-sm-4
								input.form-control#prenom(type="text", required=true, placeholder="votre prénom")
								.invalid-feedback Merci de vous identifier clairement
							.col-sm-5
								input.form-control#nom(type="text", required=true, placeholder="votre nom")
								.invalid-feedback Merci de vous identifier clairement
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="email") Votre email :
							.col-sm-9
								input.form-control#email(type="email", required=true, placeholder="votre email")
								.invalid-feedback Votre email est indispensable pour être recontacté
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="telephone") Votre téléphone :
							.col-sm-9
								input.form-control#telephone(type="telephone")
						.form-group.form-row
							label.col-sm-3.col-form-label.required(for="message") Un petit message :
							.col-sm-9
								textarea.form-control#message(rows="4", required=true)
								.invalid-feedback Un petit message pour vous présenter est la moindre des politesses non ?
					.modal-footer
						button(type="button", class="btn btn-secondary", data-dismiss="modal") Abandonner
						input#submit(type="submit", class="btn btn-primary")

block js
	script(src="/js/index.js")
