extends ../layouts/default

block content
	.container
		.row
			.col-lg-12
				h1 Liste des signalements
		.row
			table.table.table-hover
				thead
					th(scope="col") date signalement
					th(scope="col") annonce
					th(scope="col") message signalé
					th(scope="col") auteur du message
					th(scope="col") raison du signalement
				tbody
					each signalement in data.signalements
						tr
							th(scope="row")= signalement._.dateSignale.format('DD/MM/YYYY H:mm')
							td
								p= signalement.annonce.titre
								p= signalement.annonce.prenom + ' ' + signalement.annonce.nom
								p= signalement.annonce.email
							td
								p.text-annonce= signalement.message
							td
								p= signalement.prenom + ' ' + signalement.nom
								p= signalement.email
								p= signalement.telephone
							td
								p.text-annonce= signalement.raison

block js
	script(src="/js/ellipsis.js")
